<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
 <menu id="root-menu" label="Aplicativos">
  <menu id="Configuracao" label="Configuração">
    <item label="Customize Look And Feel" icon="/usr/share/icons/nuoveXT2/128x128/apps/preferences-desktop-theme.png">
      <action name="Execute">
        <command>lxappearance</command>
      </action>
    </item>
    <item label="Desktop Preferences" icon="/usr/share/icons/Adwaita/48x48/places/user-desktop.png">
      <action name="Execute">
        <command>pcmanfm --desktop-pref</command>
      </action>
    </item>
    <item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png">
      <action name="Execute">
        <command>obconf</command>
      </action>
    </item>
  </menu>
  <menu id="Desenvolvimento" label="Desenvolvimento">
    <item label="Geany" icon="/usr/share/pixmaps/geany.xpm">
      <action name="Execute">
        <command>geany</command>
      </action>
    </item>
    <item label="Python (V3.11)" icon="/usr/share/pixmaps/python3.11.xpm">
      <action name="Execute">
        <command>evte -e /usr/bin/python3.11</command>
      </action>
    </item>
    <item label="Vim" icon="/usr/share/icons/hicolor/48x48/apps/gvim.png">
      <action name="Execute">
        <command>vim</command>
      </action>
    </item>
  </menu>
  <menu id="Escritorio" label="Escritório">
    <item label="Document Viewer" icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.Evince.svg">
      <action name="Execute">
        <command>evince</command>
      </action>
    </item>
    <item label="Fax Address Book" icon="/usr/share/hplip/data/images/128x128/hp_logo.png">
      <action name="Execute">
        <command>/bin/sh -c 'STARTED_FROM_MENU=yes /usr/bin/hp-fab’</command>
      </action>
    </item>
    <item label="Libreoffice Calc" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-calc.png">
      <action name="Execute">
        <command>libreoffice --calc</command>
      </action>
    </item>
    <item label="Libreoffice Draw" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-draw.png">
      <action name="Execute">
        <command>libreoffice --draw</command>
      </action>
    </item>
    <item label="Libreoffice Impress" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-impress.png">
      <action name="Execute">
        <command>libreoffice --impress</command>
      </action>
    </item>
    <item label="Libreoffice Math" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-math.png">
      <action name="Execute">
        <command>libreoffice --math</command>
      </action>
    </item>
    <item label="Libreoffice Start Center" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-startcenter.png">
      <action name="Execute">
        <command>libreoffice</command>
      </action>
    </item>
    <item label="Libreoffice Writer" icon="/usr/share/icons/hicolor/128x128/apps/libreoffice-writer.png">
      <action name="Execute">
        <command>libreoffice --writer</command>
      </action>
    </item>
    <item label="Libreoffice Xslt Based Filters" icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-extension.svg">
      <action name="Execute">
        <command>libreoffice %U</command>
      </action>
    </item>
    <item label="Pdf24 Tools" icon="/usr/share/icons/pdf24-tools.png">
      <action name="Execute">
        <command>/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cllogjpmmedddjlbjdbknmffboklagfp</command>
      </action>
    </item>
    <item label="Print Preview" icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.Evince.svg">
      <action name="Execute">
        <command>evince-previewer</command>
      </action>
    </item>
    <item label="Scribus" icon="/usr/share/icons/hicolor/1024x1024/apps/scribus.png">
      <action name="Execute">
        <command>scribus</command>
      </action>
    </item>
    <item label="Texdoctk" icon="/usr/share/icons/hicolor/128x128/apps/TeXworks.png">
      <action name="Execute">
        <command>texdoctk</command>
      </action>
    </item>
    <item label="Texworks" icon="/usr/share/pixmaps/TeXworks.png">
      <action name="Execute">
        <command>texworks</command>
      </action>
    </item>
  </menu>
  <menu id="Grafico" label="Gráfico">
    <item label="Feh" icon="/usr/share/icons/hicolor/scalable/apps/feh.svg">
      <action name="Execute">
        <command>feh</command>
      </action>
    </item>
    <item label="Gnu Image Manipulation Program" icon="/usr/share/icons/hicolor/16x16/apps/gimp.png">
      <action name="Execute">
        <command>gimp-2.10</command>
      </action>
    </item>
    <item label="Screenshot" icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.Screenshot.svg">
      <action name="Execute">
        <command>gnome-screenshot --interactive</command>
      </action>
    </item>
    <item label="Xsane" icon="/usr/share/pixmaps/xsane.png">
      <action name="Execute">
        <command>xsane</command>
      </action>
    </item>
  </menu>
  <menu id="Internet" label="Internet">
    <item label="Google Chrome" icon="/usr/share/icons/hicolor/128x128/apps/google-chrome.png">
      <action name="Execute">
        <command>/usr/bin/google-chrome-stable</command>
      </action>
    </item>
    <item label="Terabox" icon="/usr/share/icons/hicolor/scalable/apps/terabox.svg">
      <action name="Execute">
        <command>/opt/TeraBox/terabox --no-sandbox</command>
      </action>
    </item>
    <item label="Transmission (Qt)" icon="/usr/share/pixmaps/transmission.xpm">
      <action name="Execute">
        <command>transmission-qt</command>
      </action>
    </item>
  </menu>
  <menu id="Multimidia" label="Multimídia">
    <item label="Audacity" icon="/usr/share/icons/hicolor/scalable/apps/audacity.svg">
      <action name="Execute">
        <command>env GDK_BACKEND=x11 audacity</command>
      </action>
    </item>
    <item label="Pulseaudio Volume Control" icon="/usr/share/icons/Adwaita/48x48/legacy/multimedia-volume-control.png">
      <action name="Execute">
        <command>pavucontrol</command>
      </action>
    </item>
    <item label="Vlc Media Player" icon="/usr/share/icons/hicolor/128x128/apps/vlc.png">
      <action name="Execute">
        <command>/usr/bin/vlc --started-from-file</command>
      </action>
    </item>
  </menu>
  <menu id="Sistema" label="Sistema">
    <item label="Bleachbit (As Root)" icon="/usr/share/pixmaps/bleachbit.png">
      <action name="Execute">
        <command>pkexec bleachbit</command>
      </action>
    </item>
    <item label="Bleachbit" icon="/usr/share/pixmaps/bleachbit.png">
      <action name="Execute">
        <command>bleachbit</command>
      </action>
    </item>
    <item label="Conky" icon="/usr/share/icons/hicolor/scalable/apps/conky-logomark-violet.svg">
      <action name="Execute">
        <command>conky --daemonize --pause</command>
      </action>
    </item>
    <item label="Hplip Fax Utility" icon="/usr/share/hplip/data/images/128x128/hp_logo.png">
      <action name="Execute">
        <command>sh -c 'STARTED_FROM_MENU=yes /usr/bin/hp-sendfax’</command>
      </action>
    </item>
    <item label="Hplip Toolbox" icon="/usr/share/hplip/data/images/128x128/hp_logo.png">
      <action name="Execute">
        <command>sh -c 'STARTED_FROM_MENU=yes /usr/bin/hp-toolbox’</command>
      </action>
    </item>
    <item label="Oracle Vm Virtualbox" icon="/usr/share/pixmaps/virtualbox.png">
      <action name="Execute">
        <command>VirtualBox</command>
      </action>
    </item>
    <item label="Plank" icon="/usr/share/icons/hicolor/128x128/apps/plank.svg">
      <action name="Execute">
        <command>plank</command>
      </action>
    </item>
    <item label="System Profiler And Benchmark" icon="/usr/share/hardinfo/pixmaps/logo.png">
      <action name="Execute">
        <command>/usr/bin/hardinfo</command>
      </action>
    </item>
  </menu>
  <menu id="Utilitario" label="Utilitário">
    <item label="File Manager Pcmanfm" icon="/usr/share/icons/Adwaita/48x48/legacy/system-file-manager.png">
      <action name="Execute">
        <command>pcmanfm</command>
      </action>
    </item>
    <item label="Lxterminal" icon="/usr/share/icons/hicolor/128x128/apps/lxterminal.png">
      <action name="Execute">
        <command>lxterminal</command>
      </action>
    </item>
    <item label="Uxterm" icon="/usr/share/icons/hicolor/scalable/apps/mini.xterm.svg">
      <action name="Execute">
        <command>uxterm</command>
      </action>
    </item>
    <item label="Xarchiver" icon="/usr/share/icons/hicolor/16x16/apps/xarchiver.png">
      <action name="Execute">
        <command>xarchiver</command>
      </action>
    </item>
    <item label="Xterm" icon="/usr/share/icons/hicolor/scalable/apps/mini.xterm.svg">
      <action name="Execute">
        <command>xterm</command>
      </action>
    </item>
  </menu>
  <separator/>
  <item label="Sair">
    <action name="Execute">
      <execute>openbox --exit</execute>
    </action>
  </item>
  <item label="Reiniciar">
    <action name="Execute">
      <execute>sudo reboot</execute>
    </action>
  </item>
  <item label="Desligar">
    <action name="Execute">
      <execute>sudo shutdown -h now</execute>
    </action>
  </item>
</openbox_menu>
