[Desktop Entry] 
Encoding=UTF-8
Name=Tint2 Openbox Menu
Comment=Tint2 Openbox Menu
X-GNOME-FullName=Openbox Menu
Exec=xdotool key Menu
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=debian-logo-1.png
Categories=Menu;
StartupNotify=true
